<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets\img\slide1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets\img\slide2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets\img\slide3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets\img\slide4.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container">
    <h2>Jogos Mais Buscados da semana!</h2>
    <div class="row">
      <div class="col-md-2">
        <div class="thumbnail">
          <a href="jogos.html" target="_blank">
            <img src="assets\img\cyberpunk.jpg" alt="Cyberpunk2077" style="width:100%">
            <div class="caption">
              <p>Cyberpunk 2077</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="thumbnail">
          <a href="jogos.html" target="_blank">
            <img src="assets\img\fifa.jpg" alt="Fifa2021" style="width:100%">
            <div class="caption">
              <p>FIFA 2021</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="thumbnail">
          <a href="jogos.html" target="_blank">
            <img src="assets\img\ghost.jpg" alt="ghost" style="width:100%">
            <div class="caption">
              <p>Ghost</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="thumbnail">
          <a href="jogos.html" target="_blank">
            <img src="assets\img\gta.jpg" alt="GTA" style="width:150%">
            <div class="caption">
              <p>GTA</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="thumbnail">
          <a href="jogos.html" target="_blank">
            <img src="assets\img\village.webp" alt="Village" style="width:150%">
            <div class="caption">
              <p>Village</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="thumbnail">
          <a href="jogos.html" target="_blank">
            <img src="assets\img\watchdogs.jpg" alt="watchdogs" style="width:150%">
            <div class="caption">
              <p>Watchdogs</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <img src="assets\img\jogos-mais-esperados-de-2021.png" class="card-img-top" alt="...">
    
    <div class="card-body">
      <h2 class="card-title">Confira os jogos mais aguardados de 2021!</h2>
      
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Tudo sobre consoles</h2>
    </div>
    <img src="assets\img\consoles.jpg" class="card-img-bottom" alt="..." width="50%">
  </div>

  