<div class="container">
    <h2>Jogos Mais Buscados da semana!</h2>
    <div class="row">
      <div class="col-md-2">
        <div class="thumbnail">
          <a href="jogos.html" target="_blank">
            <img src="assets\img\cyberpunk.jpg" alt="Cyberpunk2077" style="width:100%">
            <div class="caption">
              <p>Cyberpunk 2077</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="thumbnail">
          <a href="jogos.html" target="_blank">
            <img src="assets\img\fifa.jpg" alt="Fifa2021" style="width:100%">
            <div class="caption">
              <p>FIFA 2021</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="thumbnail">
          <a href="jogos.html" target="_blank">
            <img src="assets\img\ghost.jpg" alt="ghost" style="width:100%">
            <div class="caption">
              <p>Ghost</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="thumbnail">
          <a href="jogos.html" target="_blank">
            <img src="assets\img\gta.jpg" alt="GTA" style="width:150%">
            <div class="caption">
              <p>GTA</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="thumbnail">
          <a href="jogos.html" target="_blank">
            <img src="assets\img\village.webp" alt="Village" style="width:150%">
            <div class="caption">
              <p>Village</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="thumbnail">
          <a href="jogos.html" target="_blank">
            <img src="assets\img\watchdogs.jpg" alt="watchdogs" style="width:150%">
            <div class="caption">
              <p>Watchdogs</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="thumbnail">
          <a href="dicas.html" target="_blank">
            <img src="assets\img\jogos-mais-esperados-de-2021.png"alt="Cyberpunk2077" style="width:100%">
            <div class="caption">
              <h1>Confira os jogos mais aguardados de 2021!</h1>
            </div>
          </a>
        </div>
      </div>